pandas==0.24
numpy==1.17
tensorflow==2.5.0
tensorflow-hub>=0.5.0
PyYAML==5.1.2
pyyml==0.0.2
gcsfs==0.6.2
matplotlib==3.1.1
scipy==1.4.1
scikit-learn==0.22.1
nltk==3.4.5
google-cloud-storage==1.27.0

# Dev:
pip
setuptools
pycodestyle
flake8
yapf==0.28.0
ipython
mypy
